{% extends 'base.html.twig' %}

{% block title %}Mike Devresse{% endblock %}

{% block body %}
    <div class="container" id="fullpage">
        <section id="particles-js" class="pan">
            <div class="title-card">
                <h1>Mike Devresse</h1>
                <h5>Student in 4th grade in IT</h5>
            </div>
        </section>
        <nav>
            <ul>
                <li><a href="#about-me">About me</a></li>
                <li><a href="#studies">Studies</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experiences">Experiences</a></li>
            </ul>
        </nav>
        <section class="pan" id="about-me">
            <h1>About me</h1>
        </section>
        <section class="pan" id="studies">
            <h1>Studies</h1>
        </section>
        <section class="pan" id="projects">
            <h1>Projects</h1>
        </section>
        <section class="pan" id="experiences">
            <h1>Experiences</h1>
        </section>
    </div>
{% endblock %}
